<div>
  <h3><%= @customer.email %></h3>
  <%= link_to 'ユーザー編集',  public_customers_information_edit_path %>
</div>

    <% if flash[:notice] %>
      <div class="alert alert-primary" role="alert"><strong><%= notice %></strong></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert"><strong><%= alert %></strong></div>
    <% end %>