<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        商品詳細<br><br>
      </h3>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">

<div class="field form-inline">
  <h4 style="margin-right:5%;">商品名</h4>
  <p class="field" style="margin-right:5%;"><%= @item.name %></p>
</div>




      </div>
    </div>
  </div>
</section>