<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        会員一覧<br><br>
      </h3>
    </div>
  </div>
</section>

<table class="table">
	<thead>
		<tr>
			<th>会員ID</th>
			<th>氏名</th>
			<th>メールアドレス</th>
			<th>ステータス</th>
		</tr>
	</thead>

	<body>
	  <% @customers.each do |customer| %>
	  <tr>
	    <td><%= customer.id %></td>
	    <td><%= customer.first_name %></td>
	    <td><%= customer.email %></td>
	  </tr>
	  <% end %>
	</body>