<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        注文履歴一覧<br><br>
      </h3>


<table class="table">
	<thead>
		<tr class="table-active">
			<th>購入日時</th>
			<th>購入者</th>
			<th>注文個数</th>
		</tr>
	</thead>

	<tbody>
	  <% @orders.each do |o| %>
	  <tr>
	    <td><%= link_to o.created_at, admin_order_path(o.id) %></td>
	    <td><%= o.name %></td>
	    <td>
	      <%= o.order_details.sumprice %>
	     </td>
	  </tr>
	  <% end %>
	</tbody>
	</table>

	<%= paginate @orders %>

	  </div>
  </div>
</section>