@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.mb-3.name {
  display: flex;
}

.label2 {
  width: 300px;
}

.label3 {
  width: 204px;
}

.label4 {
  width: 204px;
}