<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        注文情報入力<br><br>
      </h3>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">

      <%= form_with model: @order, url: orders_path do |f| %>

        <div class="radio">
          <p style="margin-right:5%;">支払い方法</p>
            <div>
            	<%= f.radio_button :payment_method, 0 %>
            	<label class="payment-label">クレジットカード</label>
            </div>
          	<div>
            	<%= f.radio_button :payment_method, 1 %>
            	<label class="payment_label">銀行振込</label>
          	</div>
        </div>

      <% end %>

      </div>
    </div>
  </div>
</section>
